<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.community.board.fav.FavMapper">
    <insert id="insBoardFav">
        INSERT into t_board_fav
        (iboard,iuser)
        values
        (${iboard},${iuser})
    </insert>

    <update id="updBoardRate">
        update t_board_fav
        set irate = #{irate}
        where iboard = ${iboard}
          and iuser = ${iuser};
    </update>

    <select id="selBoardFav" resultType="BoardFavEntity">
        SELECT iboard,iuser,rdt,irate
        FROM t_board_fav
        WHERE iboard = ${iboard}
        and   iuser = ${iuser}
    </select>

    <delete id="delBoardFav">
        DELETE from t_board_fav where iboard = ${iboard} and iuser = ${iuser}
    </delete>

    <select id="selBoardFavList" resultType="BoardFavVO">
        SELECT A.iboard, A.iuser, A.rdt,A.irate, B.nm as nm, B.profileimg as profileimg
        from t_board_fav A
        join t_user B
        ON A.iuser = B.iuser
        WHERE A.iboard = ${iboard};
    </select>


</mapper>