<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.community.user.UserMapper">

    <select id="selUser" resultType="UserEntity">
        SELECT * from t_user
        <if test="uid!=null and uid!=''">
            WHERE uid = #{uid}
        </if>
        <if test="iuser!=null and iuser!=''">
            WHERE iuser = #{iuser}
        </if>
    </select>

    <insert id="updUser" >
        INSERT into t_user
            (uid,upw,nm,gender)
        values
            (#{uid},#{upw},#{nm},#{gender})
    </insert>

    <update id="updProfile">
        UPDATE t_user
        set
        <if test=" upw!=null and upw!=''">
            upw = #{upw}
        </if>
        <if test=" profileimg!=null and profileimg!=''">
            profileimg = #{profileimg}
        </if>
        where iuser = #{iuser}
    </update>

    <select id="selChkUpw" resultType="UserEntity">
        SELECT upw from t_user where iuser = #{iuser}
    </select>

</mapper>