*{ box-sizing: border-box; padding: 0;margin: 0;}
a{ text-decoration: none; color: black; }
html{height: 100%;}
body,#container{ height: 100% }

#container{
    display: grid;
    grid-template-rows: repeat(auto-fill,1fr);
}

header {
    width: 100%;
    background-color: antiquewhite;
    position: fixed;
    left: 0; top: 0;
}
footer {
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    position: fixed;
    left: 0; bottom: 0;
}

.copy-right { color:#3a2815; font-size: 10px }

.flex-container { display: flex; }
.flex-align-center { align-items: center; }

.font-color-white{ color: #fff; }
.font-color-my { color:#3a2815 }

.h50{ height: 50px; }
.h100{ height: 100px; }

.m-r-10 { margin-right: 10px; }
.m-r-20 { margin-right: 20px; }

.p-lr-10 { padding: 0 10px; }
.p-lr-20 { padding: 0 20px; }
.p10 { padding: 10px }

.login-join-container {
    width: 500px;
    height: 500px;
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.content-container{
    display: flex;
    width: 100%;
    padding: 50px 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.menu-selected { font-weight: bold; color: white;}

.submenu-section{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.submenu-section:first-child{background-color: #efefef}

.leftmenu{
    width: 180px;
    height: 100%;
    background-color: rgba(241, 169, 67, 0.55);
}
ul{
    list-style:none;
}
li{
    text-decoration: underline;
    text-underline-position: under;
}
.content-box{
    margin: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular--img{ display: inline-block; overflow: hidden;border-radius: 50%; border: 4px solid #ecf0f1}
.circular--img img{width: 100%; height: 100%; object-fit: cover;}
.circular--size40 { width: 40px; height: 40px;}
.circular--size200 { width: 200px; height: 200px;}
.circular--size300 { width: 300px; height: 300px;}

.noborder {
    border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;
    width: 30px;
}

.pointer { cursor: pointer;}

.hidden { display: none; }

.img-return {


    transform: scaleX(-1);



}
hr{
    margin: 30px 0;
    width: 500px;
}