.detailBox{
    margin: 0 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
h1{
    margin-left: 10px;
}
.titleBox{
    border: 1px solid;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.titleBox nav{
    background-color: rgb(252, 220, 203);
    margin-left: 10px;
    padding: 5px;
    font-size: 5px;
    border: 1px solid;
}
textarea{
    width: 300px;
}
.detailBox input{
    width: 300px;
}
.cmtBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.cmtBox .submit-btn{
    width: 70px;
}
.cmtBox .listNm{
    width: 70px;
}
.cmtBox .listCtnt{

}
.cmtBox .listRdt{
    width: 150px;
}
.cmtBox .cmtBtnsDiv input{
    width: 50px;
}
.cmtBox .cmtListDiv{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
}
.cmtListDiv .listNmProfile{
    display: flex;
    flex-direction: row;
    padding: 2px;
    align-items: center;
    border: 1px solid;
}
.cmtListDiv .listNm{
    width: 60px;
}

.detailBtn{
    width: 50px;
}

.preNextBtn{
    width: 50px;
}

